$checkedColor: #2196F3;
$dark: #000;

.textfield-v2 {
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: hidden;

  &__field {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px rgba($dark, 0.6);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 10px 13px;
    width: 100%;
    height: inherit;
    color: rgba($dark, 0.87);
    background-color: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: $checkedColor;
    transition: border 0.2s, box-shadow 0.2s;

    &:not(:focus):placeholder-shown {
      border-top-color: rgba($dark, 0.6);
    }

    &:not(:focus):placeholder-shown + .textfield-v2__label, {
      font-size: inherit;
      line-height: 58px;
    }

    &:not(:focus):placeholder-shown + .textfield-v2__label::before,
    &:not(:focus):placeholder-shown + .textfield-v2__label::after {
      border-top-color: transparent;
    }

    &:focus {
      border-color: $checkedColor;
      border-top-color: transparent;
      box-shadow: inset 1px 0 $checkedColor, inset -1px 0 $checkedColor, inset 0 -1px $checkedColor;
      outline: none;
    }

    &:focus + .textfield-v2__label {
      color: $checkedColor;
    }

    &:focus + .textfield-v2__label::before,
    &:focus + .textfield-v2__label::after {
      border-top-color: $checkedColor !important;
      box-shadow: inset 0 1px $checkedColor;
    }

    &:disabled,
    &:disabled + .textfield-v2__label {
      border-color: rgba($dark, 0.38) !important;
      border-top-color: transparent !important;
      color: rgba($dark, 0.38);
      pointer-events: none;
    }

    &:disabled + .textfield-v2__label::before,
    &:disabled + .textfield-v2__label::after {
      border-top-color: rgba($dark, 0.38) !important;
    }

    &:disabled:placeholder-shown,
    &:disabled:placeholder-shown + .textfield-v2__label {
      border-top-color: rgba($dark, 0.38) !important;
    }

    &:disabled:placeholder-shown + .textfield-v2__label::before,
    &:disabled:placeholder-shown + .textfield-v2__label::after {
      border-top-color: transparent !important;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba($dark, 0.6);
    width: 100%;
    max-height: 100%;
    color: rgba($dark, 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;

    &::before,
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      margin-top: 6px;
      border-top: solid 1px;
      border-top-color: rgba($dark, 0.6);
      min-width: 10px;
      height: 8px;
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color 0.2s, box-shadow 0.2s;
    }

    &::before {
      margin-right: 4px;
      border-left: solid 1px transparent;
      border-radius: 4px 0;
    }

    &::after {
      flex-grow: 1;
      margin-left: 4px;
      border-right: solid 1px transparent;
      border-radius: 0 4px;
    }
  }
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .textfield-v2 > .textfield-v2__field,
    .textfield-v2 > .textfield-v2__field + .textfield-v2__label,
    .textfield-v2 > textarea,
    .textfield-v2 > textarea + .textfield-v2__label,
    .textfield-v2 > .textfield-v2__field + .textfield-v2__label::before,
    .textfield-v2 > .textfield-v2__field + .textfield-v2__label::after,
    .textfield-v2 > textarea + .textfield-v2__label::before,
    .textfield-v2 > textarea + .textfield-v2__label::after {
      transition-duration: 0.1s;
    }
  }
}