$checkedColor: #2196F3;
$uncheckedColor: #c3c3c3;

.switcher-v2 {
  display: inline-flex;
  align-items: center;

  &__input {
    appearance: none;
    opacity: 0;
    position: absolute;
    z-index: -100;

    &:checked:focus-visible ~ .switcher-v2__toggle {
      outline: 4px solid rgba($checkedColor, .15);
    }

    &:focus-visible ~ .switcher-v2__toggle {
      outline: 4px solid rgba($uncheckedColor, .35);
    }

    &:checked ~ .switcher-v2__toggle {
      border-color: $checkedColor;

      &:after {
        transform: translateX(1.6rem);
        background-color: $checkedColor;
      }
    }

    &:disabled {

      & ~ .switcher-v2__toggle {
        opacity: .35;
        pointer-events: none;
      }

      & ~ .switcher-v2__label {
        opacity: .35;
        pointer-events: none;
      }
    }
  }

  &__label {
    margin: 0 6px;
    cursor: pointer;
    transition: color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: $checkedColor;
      }
    }
  }

  &__toggle {
    display: block;
    width: 4.4rem;
    height: 2.2rem;
    border: 2px solid $uncheckedColor;
    border-radius: 2rem;
    user-select: none;
    position: relative;
    cursor: pointer;
    transition: border-color .3s ease-in-out;

    &:after {
      content: '';
      display: block;
      height: 1.4rem;
      width: 2rem;
      position: absolute;
      top: .2rem;
      left: 2px;
      background-color: $uncheckedColor;
      border-radius: 2rem;
      transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }
  }
}